# GLiNER requirements
gliner
#torch==2.4.1
transformers
huggingface_hub
onnxruntime
sentencepiece
tqdm
accelerate>=1.1.0

# ATLOP requirements
numpy
opt-einsum
wandb
ujson
tqdm
pandas

# Additional requirements
nltk